/*
 * OpenAPI Generator Online
 * This is an online openapi generator server.  You can find out more at https://github.com/OpenAPITools/openapi-generator.
 *
 * The version of the OpenAPI document: 7.12.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.github.sixcorners.openapi_generator_client.api;

import com.github.sixcorners.openapi_generator_client.model.CliOption;
import com.github.sixcorners.openapi_generator_client.model.GeneratorInput;
import com.github.sixcorners.openapi_generator_client.model.ResponseCode;
import jakarta.validation.Valid;
import jakarta.validation.constraints.*;
import jakarta.ws.rs.*;
import java.io.File;
import java.util.List;
import java.util.Map;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

/**
 * OpenAPI Generator Online
 *
 * <p>This is an online openapi generator server. You can find out more at
 * https://github.com/OpenAPITools/openapi-generator.
 */
@RegisterRestClient(configKey = "openapi-generator-client")
@RegisterProvider(ApiExceptionMapper.class)
@Path("/api/gen")
public interface ServersApi {

  /**
   * Downloads a pre-generated file
   *
   * <p>A valid &#x60;fileId&#x60; is generated by the &#x60;/clients/{language}&#x60; or
   * &#x60;/servers/{language}&#x60; POST operations. The fileId code can be used just once, after
   * which a new &#x60;fileId&#x60; will need to be requested.
   */
  @GET
  @Path("/download/{fileId}")
  @Produces({"application/octet-stream"})
  File downloadFile(@PathParam("fileId") String fileId) throws ApiException, ProcessingException;

  /**
   * Generates a server library
   *
   * <p>Accepts a &#x60;GeneratorInput&#x60; options map for spec location and generation options.
   */
  @POST
  @Path("/servers/{framework}")
  @Consumes({"application/json"})
  @Produces({"*/*"})
  ResponseCode generateServerForLanguage(
      @PathParam("framework") String framework, @Valid GeneratorInput generatorInput)
      throws ApiException, ProcessingException;

  /** Returns options for a server framework */
  @GET
  @Path("/servers/{framework}")
  @Produces({"application/json"})
  Map<String, CliOption> getServerOptions(@PathParam("framework") String framework)
      throws ApiException, ProcessingException;

  /** Gets languages supported by the server generator */
  @GET
  @Path("/servers")
  @Produces({"*/*"})
  List<String> serverOptions() throws ApiException, ProcessingException;
}
